.custom-navbar {
  background-color: #3b5323; /* Verde oscuro popó */
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}

.custom-navbar .nav-link {
  color: #f8f9fa; /* Blanco */
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover {
  color: #c0d6b5; /* Verde claro */
}

.custom-navbar .navbar-toggler {
  border: none;
}

.logo-small {
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.logo-small:hover {
  transform: scale(1.1);
}
